{:itonami.blueprint/id "cloud-itonami-iso3166-usa-sec"
 :itonami.blueprint/name "Independent SEC Financial-Disclosure Compliance Service — United States"
 :itonami.blueprint/iso3166 "USA-SEC"
 :itonami.blueprint/iso3166-parent "USA"
 :itonami.blueprint/ooyake-id "gov.usa.sec"
 :itonami.blueprint/domain :public-sector/agency-compliance
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:public-spend-transparency :sme-market-access :cross-border-friction-reduction]
 :itonami.blueprint/governor :market-entry-compliance-governor
 :itonami.blueprint/robotics false
 :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/organization {:ooyake-id "gov.usa.sec" :official-url "https://www.sec.gov/" :head-role "Chair of the Securities and Exchange Commission" :contact-page "https://www.sec.gov/"}}
